@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400&display=swap');

body {
  margin: 0;
}

.pane{
  /* height: 50vh; */
  display: flex;
}

.top-pane{
  background-color: #242B2E;
}

.bottom-pane{
  height: 50vh;
}

.editor-title{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.1rem;
  padding: 0.6rem 0.6rem 0.5rem 1rem;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  background-color: #19232d;
  
}

.editor-container{
  border-radius: 5px;
  display: flex;
  flex-grow: 1;
  flex-basis: 0px;
  flex-direction: column;
  padding-left: 1rem;
  padding-bottom: 1rem;
  background-color: #2b2d42;
}

.editor-container.collapsed{
  flex-grow: 0;
}
/* this is for collapsing to absolute size and
 not caring about the inner code text */
.editor-container.collapsed .CodeMirror-scroll{
  position: absolute;
}
.collapse-expand-button{
  cursor: pointer;
  padding: 1px 5px;
  margin: 0px 5px 0px 5px;
  background-color: rgb(77, 77, 77);
  outline: none;
  border-radius: 5px;
}

/* editor text */
.CodeMirror{
  min-height: 50vh !important;
  min-height: 100% !important;
  background-color: #06070e !important;
  background-color: #0a151d !important;
  font-size: 1.2em;
  overflow: hidden;
}

/* numbering of line */
.CodeMirror-gutters{
  background-color: #06070e !important;
  border-right: 1px solid #242B2E !important;
  padding-right: .5rem;
}



::-webkit-scrollbar {
	width: 5px;
}
::-webkit-scrollbar-track {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: rgba(255, 254, 254, 0.226);
	border-radius: 5px;
}
